{% extends 'base.html.twig' %}

{% set pageTitle = 'Suppression de ' %}

{% block title %}{{ pageTitle }}{% endblock %}
{% block body %}
    <h1>{{ pageTitle }}</h1>
    {{ form_start(form, {attr: {class: 'd-flex'}}) }}
    {{ form_row(form.delete, {label: 'Supprimer', attr: {class: 'btn-custom'}}) }}
    {{ form_row(form.cancel, {label: 'Annuler', attr: {class: 'btn-custom'}}) }}
{% endblock %}
