{% extends 'base.html.twig' %}
{% block title %}
    Panier
{% endblock %}
{% block body %}

    <h1 class="title_cart">Panier</h1>

    <ul class="list-group list-group-flush">
        {% if cartLines is not empty %}
            <div class="category_cart" style="flex: auto; gap: 20px; flex-grow: 1">
                <div>Produit</div>
                <div>Quantité</div>
                <div>Prix</div>
                <div>Supprimer</div>
            </div>
        {% for cartLine in cartLines %}

            <li class="list-group-item">
                <div class="cart_line">
                    <div class="product_img_name">
                        <img src=
                        {% if cartLine.product.imageName %}
                            {{ vich_uploader_asset(cartLine.product, 'imageFile') }}
                        {% else %}
                            {{ asset('images/products/default_image.png') }}
                        {% endif %}" alt="{{ cartLine.product.name }}" style="width: 70px; height: 70px;">

                    <a class="product_name" href="{{ path('cart_add_show', {'id' : cartLine.product.id}) }}"> <span> {{ cartLine.product.name }}</span></a>
                    </div>
                    <div class="cart_line_quantity"> {{ cartLine.quantity }}</div>
                    <div class="price_cartLine">  {{ cartLine.product.price * cartLine.quantity }} €</div>
                    <div class="delete_cartLine">
                            {{ form_start(deleteForms[cartLine.id]) }}
                            <i class="btn-link-danger">{{ form_widget(deleteForms[cartLine.id]) }}</i>
                            {{ form_end(deleteForms[cartLine.id]) }}
                    </div>
                    {% if cartLine.quantity > cartLine.product.stock.quantity %}
                    <div class="avertissement">
                        <i class="fas fa-warning"></i>
                    </div>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if canValidate == true  %}
    {{ form_start(validateCart) }}
        <div class="cart_submit">
            <button type="submit" class="btn btn-success">Valider le panier</button>
        </div>

    {{ form_end(validateCart) }}
    {% else %}
        <div class="text-center mt-4">
            <p class="text-danger">Impossible de valider le panier : un ou plusieurs articles ont une quantité demandée supérieure au stock disponible.</p>
        </div>
    {% endif %}
    {% else %}
        <div class="text-center mt-4">
            <p class="text-black-50">Votre panier est vide</p>
        </div>
    {% endif %}
{% endblock %}