{% extends 'base.html.twig' %}
{% block title %}
    Panier
{% endblock %}
{% block body %}

    <h1>Panier</h1>

    <ul class="list-group list-group-flush">
        {% if cartLines is not empty %}
        {% for cartLine in cartLines %}

            <li class="list-group-item">
                <div class="list-group-horizontal-lg d-flex align-items-center" style="flex: auto; gap: 20px;">
                    <img src=
                        {% if cartLine.product.imageName %}
                            {{ vich_uploader_asset(cartLine.product, 'imageFile') }}
                        {% else %}
                            {{ asset('images/products/default_image.png') }}
                        {% endif %}" alt="{{ cartLine.product.name }}" style="width: 70px; height: 70px;">

                    <a class="text-decoration-underline text-black" href="{{ path('cart_add_show', {'id' : cartLine.product.id}) }}"> <span class="product.name"> {{ cartLine.product.name }}</span></a>
                    <span class="quantity">, {{ cartLine.quantity }}</span>
                    <span class="username">, {{ cartLine.cart.user.firstname }}</span>
                    <span class="price.cartLine"> : {{ cartLine.product.price * cartLine.quantity }} €</span>
                    <span class="delete.cartLine">
                            {{ form_start(deleteForms[cartLine.id]) }}
                            {{ form_widget(deleteForms[cartLine.id]) }}
                            {{ form_end(deleteForms[cartLine.id]) }}
                    </span>
                    {% if cartLine.quantity > cartLine.product.stock.quantity %}
                    <span class="avertissement">
                        <i class="fas fa-warning"></i>
                    </span>
                    {% endif %}
                </div>
            </li>
        {% endfor %}
    </ul>
    {% if canValidate == true  %}
    {{ form_start(validateCart) }}
        <div class="text-end mt-4">
            <button type="submit" class="btn btn-success">Valider le panier</button>
        </div>

    {{ form_end(validateCart) }}
    {% else %}
        <div class="text-center mt-4">
            <p class="text-danger">Impossible de valider le panier : un ou plusieurs articles ont une quantité demandée supérieure au stock disponible.</p>
        </div>
    {% endif %}
    {% else %}
        <div class="text-center mt-4">
            <p class="text-black-50">Votre panier est vide</p>
        </div>
    {% endif %}
{% endblock %}