{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <section class="py-5">
        <div class="details-container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                        <img class="product-image card-img-top mb-5 mb-md-0" src="{{ asset(product.images[0]) }}" alt="{{ product.name }}" />
                </div>

                <div class="col-md-6">
                    <div class="small mb-1"><p>Référence: {{ product.reference }}</p></div>
                    <h1 class="product-title">{{ product.name }}</h1>

                    <div class="fs-5 mb-2">
                        <span class="price">{{ product.price }}&euro;</span>
                    </div>

                    <p class="product-description">
                        {{ product.description }}
                    </p>

                    <div class="brand mb-3">
                        <a href="#"><p>{{ product.brand.name }}</p></a>
                        <a href="#"><p>{{ product.category.nameCategory }}</p></a>
                    </div>

                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 4rem" />
                        <button class="btn btn-custom flex-shrink-0" type="button">
                            <i class="fas fa-shopping-cart"></i>&nbsp;&nbsp;&nbsp;Ajouter au panier
                        </button>
                    </div>
                </div>
            </div>

            <!-- Produits similaires -->
            <div class="row mt-5">
                <h4>Dans la même catégorie</h4>
                {% for similarProduct in similarProducts %}
                    <div class="col-md-3">
                        <div class="similar-product-card card">
                                <img src="{{ asset(similarProduct.images[0]) }}" class="card-img-top" alt="{{ similarProduct.name }}">
                            <div class="card-body">
                                <h5 class="card-title">{{ similarProduct.name }}</h5>
                                <p class="card-text">{{ similarProduct.description }}</p>
                                <a href="{{ path('product_show', {'id': similarProduct.id}) }}" class="btn btn-custom" id="btn-custom-secondary">Voir le produit</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
